.card-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;

}

.card-image {
  padding: 15px;
}

.card {
  height: 320px;
  background-position: center;
  background-color: #ffffff2b;
  display:flex;
  justify-content : space-around;
  margin: 20px;
  position: relative;
  width: 200px;
}
.card-name {
  position: absolute;
  padding-top: 4px;
  font-size: 22px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

